%html
	%head
		= haml :head
		%title= "Reflexion - All blog posts"
	%body
		#main
			- if @posts.empty? then
				%div{class: %w[uk-card uk-card-default uk-card-hover uk-card-body]}
					%text No posts have been created, do you want to 
					%a{href: "/posts/create"}create one?
			- else
				- @posts.each do |post|
					%div{class: %w[uk-card uk-card-default uk-card-hover]}
						.uk-card-header
							.title= post[:title]
							%p.margin= "by #{post[:author]}"
							%p= post[:time].utc.strftime("%m/%d/%Y")
						.uk-card-body
							- haml = post[:code]
							- output = Haml::Engine.new(haml).render
							!= output.html_safe
						.uk-card-footer
							%form{action: "/posts/#{post[:slug]}", method: "post"}
								%button.uk-button.uk-button-default{name: "action", value: "edit"} Edit
								%button.uk-button.uk-button-default{name: "action", value: "delete"} Delete
					%br
