
%meta{charset: "utf-8"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1"}

%link{rel: "stylesheet", href: "/style.css"}
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"}
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"}
%link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Space+Mono:400,400i|Work+Sans"}

%link{rel: "stylesheet", href: "/assets/style"}