%html
	%head
		= haml :head
		%title Create new post
	%body
		%form{method: "POST", action: "/posts/submit"}
			%div{class: %w[uk-card uk-card-default uk-card-hover uk-card-body uk-width-1-2@m]}
				%fieldset.uk-fieldset
					.uk-margin
						%input.uk-input{type: "text", name: "title", placeholder: "Post title"}
					.uk-margin
						%input.uk-input{type: "text", name: "author", placeholder: "Post author"}
					.uk-margin
						%input.uk-input.uk-form-small{type: "text", name: "slug", placeholder: "Post ID"}
					.uk-margin
						%textarea.uk-textarea.code{name: "code", rows: 10, placeholder: "HAML code"}
					%button.uk-button.uk-button-default{type: "submit"} Submit
			%br