%html
	%head
		= haml :head
		- if @post == nil then
			%title= "Reflexion"
		- else
			%title= "Reflexion - #{@post[:title]}"
	%body
		- if @post == nil then
			%div{class: %w[uk-card uk-card-default uk-card-hover uk-card-body]}
				%text This post doesn't exists, do you want to 
				%a{href: "/posts/create"}create one?
		- else
			%div{class: %w[uk-card uk-card-default uk-card-hover]}
				.uk-card-header
					.title= @post[:title]
					%p.margin= "by #{@post[:author]}"
					%p= @post[:time].utc.strftime("%m/%d/%Y")
				.uk-card-body
					- haml = @post[:code]
					- output = Haml::Engine.new(haml).render
					!= output.html_safe
				.uk-card-footer
					%form{action: "/posts/#{@post[:slug]}", method: "post"}
						%button.uk-button.uk-button-default{name: "action", value: "edit"} Edit
						%button.uk-button.uk-button-default{name: "action", value: "delete"} Delete