
html {
	background: #f0f5ff;
}

body {
	padding: 30px;
	font-family: "Work Sans"
}

.title {
	font: 150% "Space Mono";
	color: #2f54eb;
	margin-bottom: -20px;
}

.code {
	font-family: "Space Mono";
}

.serif {
	font-family: "Playfair Display";
}

// Margin helper
.margin {
	margin-bottom: -20px;
}
